@charset "utf-8";
$breakpoints: (
    "sm": "screen and (max-width: 480px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 1024px)",
    "xl": "screen and (max-width: 1280px)",
    "2xl": "screen and (max-width: 1440px)",
);

// mixinを定義する
@mixin mq($breakpoint: "xl") {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
};