@charset "utf-8";

/**********************************************************************
例）$gray: #d7d7d7;
**********************************************************************/
$dark-blue: #07135B;
$light-blue: #5BA9D9;
$white: #ffffff;
$black: #333333;
$ivory: #F9F9F6;
$gray: #888888;
$glass: #eff1f480;

$text-black: $black;
$main-color: $dark-blue;
$accent-color: $light-blue;

