---

// コンポーネント
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/card.astro';

const title = "広島県小児科医会について";
const description = "広島県小児科医会の小児科医会についてのページです。会長挨拶や、組織・役員について説明をします。";
const url = "https://blog.hiroshima-ped.com/about";
const keywords = "広島県小児科医会, 広島県, 広島, 小児科, 小児科医, 小児科医会, 小児科医会について";


//画像

---

<Layout title={title} description={description} url={url}>

	<div class="c-subpage__upper">
		<div class="c-subpage__upper-ttl">
			About us
		</div>
		<div class="c-subpage__upper-pagination">
			<span><a href="/">トップ</a></span>
			<span></span>
			<span>広島県小児科医会について</span>
		</div>
	</div>
	<section class="l-subpage">
		<h1 class="c-subpage__ttl u-font--32">
			広島県小児科医会について
		</h1>
		<div class="c-subpage__subtext u-font--20">
			<p>
				子どもたちの健康を守るために活動する小児科医会のご紹介です。
			</p>
		</div>
		<div class="c-subpage__nav-box">
			<Card cardTtl="会長挨拶" cardText="会長の挨拶です。" Link="/about/message" />
			<Card cardTtl="組織・役員" cardText="組織の規則と役員を紹介しています。" Link="/about/team" />
		</div>
	</section>
</Layout>