---

// コンポーネント
import Layout from '../../layouts/Layout.astro';

const title = "生涯教育シリーズ 母乳保育";
const description = "広島県小児科医会の生涯教育シリーズ 母乳保育のページです。歌山県立医科大学小児科の小池通夫和名誉教授に特別寄稿して戴いたものをホームページにまとめたものです。";
const url = "https://blog.hiroshima-ped.com/archive/breastfeeding";
const keywords = "広島県小児科医会, 広島県, 広島, 小児科医, 小児科, 母乳保育";


//画像


---

<Layout title={title} description={description} url={url}>

	<div class="c-subpage__upper">
		<div class="c-subpage__upper-ttl">
			Breast Feeding
		</div>
		<div class="c-subpage__upper-pagination">
			<span><a href="/">トップ</a></span>
			<span></span>
			<span>関連リンク</span>
			<span></span>
			<span>生涯教育シリーズ 母乳保育</span>
		</div>
	</div>
	<section class="l-subpage">
		<h1 class="c-subpage__ttl u-font--32">
			生涯教育シリーズ 母乳保育
		</h1>
        <div class="c-breastfeeding">
            <div class="c-breastfeeding__text">
                <p>
                    広島県小児科医会会報に「生涯教育シリーズ」として、和歌山県立医科大学小児科 小池通夫名誉教授に特別寄稿して戴いたものをホームページにまとめたものです。<br>
                    （広島県小児科医会会報 2011年51号～2014年56号）<br/>
                    ここにあらためて深謝申し上げます。杉野
                </p>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    母乳は必ず出る、ヒトの子は母乳で
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その1）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    牛乳の科学で使われる述語
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その2）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    ラクトフェリンなど乳清蛋白質の役割と意義
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その3）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    母乳はどのくらいでるものかがわからぬ理由 乳糖など糖質の代謝を考える
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その4）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    離乳食（solid）について（1）わが国の調理形態主義は時代遅れ
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その5）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="c-breastfeeding__item">
                <p>
                    離乳食（solid）について（2）complementaryとweaningの違い
                </p>
                <div class="c-news__btn-wrap">
                    <a class="c-news__btn" href="/pdfs/母乳保育（その6）.pdf" target="_blank">
                        ダウンロードする<span class="c-news__btn-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
	</section>
</Layout>