---

// コンポーネント
import Layout from '../../layouts/Layout.astro';

const title = "会則";
const description = "広島県小児科医会の会則です。";
const url = "https://blog.hiroshima-ped.com/join/rules";
const keyword = "広島県小児科医会, 広島, 広島県, 小児科医会, 小児科, 会則";


//画像

---

<Layout title={title} description={description} url={url}>
	<div class="c-subpage__upper">
		<div class="c-subpage__upper-ttl">
			Rules
		</div>
		<div class="c-subpage__upper-pagination">
			<span><a href="/">トップ</a></span>
			<span></span>
			<span><a href="/join">入会案内</a></span>
			<span></span>
			<span>会則</span>
		</div>
	</div>
    <section class="l-subpage">
		<h1 class="c-subpage__ttl u-font--32">
			会則
		</h1>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第1条（名称及び事務局）
            </h2>
            <div class="c-rules__text">
                <p>
                    本会は広島県小児科医会と称し，事務局を広島県医師会内におく。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第2条（目的）
            </h2>
            <div class="c-rules__text">
                <p>
                    本会は小児医療の向上、小児科医療経営の合理化、医政問題等を研修し、併せて会員相互の親睦をはかることを目的とする。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第3条(事業及び活動）
            </h2>
            <div class="c-rules__text">
                <p class="c-rules__text-detail">
                    <span>第1項</span>
                    本会は毎年２回（夏及び冬）の総会および学術集会を開催する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第2項</span>
                    総会を本会の最高決定機関とする。総会の承認及び議決は出席会員の過半数の意向により決定される。
                </p>
                <p class="c-rules__text-detail">
                    <span>第3項</span>
                    必要に応じて、臨時総会並びに学術集会を持つことができる。臨時総会及び学術総会は会長が招集する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第4項</span>
                    本会の機関誌「広島県小児科医会報」を発行する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第5項</span>
                    本会は学術的な講習会、研究会等の後援を行うことができる。 
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第4条 （会員）
            </h2>
            <div class="c-rules__text">
                <p class="c-rules__text-detail">
                    <span>第1項</span>
                    会員は、広島県に在住する小児科医師及び本会の目的に賛同する医師とする。
                </p>
                <p class="c-rules__text-detail">
                    <span>第2項</span>
                    入会、退会は姓名、住所、所属を記した所定の用紙を事務局に提出し、理事会の議を経て、会長の承認を得るものとする。入会日及び退会日、移動変更日は事務局で届を受けた日とする。
                </p>
                <p class="c-rules__text-detail">
                    <span>第3項</span>
                    会員が勤務先、自宅住所、連絡先を変更した場合には、速やかに事務局に変更届を提出しなければならない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第4項</span>
                    会員は年会費を滞りなく支払わなければならない。年会費を2年以上滞納した場合は、事務局より督促するとともに退会の意思を確認する。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第5条 （役員）
            </h2>
            <div class="c-rules__text">
                <p class="c-rules__text-detail">
                    <span>第1項</span>
                    役員定数を以下に定める。役員は本会会員でなければならない。<br>
                    会　長：1名<br>
                    副会長：3名<br>
                    理　事：若干名<br>
                    監　事：2名
                </p>
                <p class="c-rules__text-detail">
                    <span>第2項</span>
                    役員の任期は、4月1日から2年とする。重任を妨げない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第3項</span>
                    会長は本会を統括する。副会長は会長が委嘱する。副会長は会長を補佐し、会長に事故があったときは合議の上、そのうちの1名が職務を代行する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第4項</span>
                    理事は会長が委嘱する。理事は会長及び副会長を補佐し、理事は本会の運営に関わる事項を審議する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第5項</span>
                    監事は本会の出納について、毎年度末までに会計担当理事より報告を受け、その内容が適正であるかを監査した上で、その結果を理事会及び総会において報告しなければならない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第6項</span>
                    理事会は会長が招集する。定例理事会を6月、9月、12月もしくは1月、3月の年４回開催する。臨時理事会は必要に応じて開催する。ただし、定例理事会で重要案件がないとき、緊急に臨時理事会の開催が必要なときなどでは、会長は本会理事会メールによる審議を行うことができる。
                </p>
                <p class="c-rules__text-detail">
                    <span>第7項</span>
                    理事会は理事の過半数の出席を持って成立する。議決は出席理事の過半数の賛同を得なければならない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第8項</span>
                    本会に顧問及び名誉会員を置くことができる。顧問及び名誉会員は理事会に参加し、その求めにより意見を述べることはできるが、議決に加わることはできない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第9項</span>
                    会長は運営上必要に応じて委員会等の諮問組織を置くことができる。委員会等は会長の求めに応じて調査・研究活動を行い、その結果を理事会及び総会で報告するとともに機関誌等に掲載する。委員会等の長は会長が指名する。委員会等の長は若干名の委員を選出する。委員会等の長並びに委員は会員でなければならない。委員会等の任期は会長の任期に準じる。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl"></h2>
            <div class="c-rules__text">
                <p class="c-rules__text-detail">
                    <span>第1項</span>
                    本会の会計は会費、寄付金及びその他の収入を以って充てる。
                </p>
                <p class="c-rules__text-detail">
                    <span>第2項</span>
                    会計年度は4月1日に始まり、翌年3月31日に終わる。
                </p>
                <p class="c-rules__text-detail">
                    <span>第3項</span>
                    本会に会計担当理事を置く。会計担当理事は本会運営の出納を管理する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第4項</span>
                    会計担当理事は、会計年度終了後は速やかに会計監査を受け、理事会並びに夏の総会に諮り、決済の承認を受けなければならない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第5項</span>
                    会費は年会費とし、4月に徴収する。A会員（開業医）においては事務局において診療報酬より引き去り、B会員（勤務医）及びC会員（開業医、勤務医のいずれにも該当しない会員）においては事務局より請求書を郵送して所定の銀行口座に振り込むものとする。振り込み費用は会員が支払う。なお、年度途中の入会者は、該当年度の会費 を支払わなければならない。また、退会者は退会年度の4月1日に在籍していれば、その年度の会費 は支払わなければならない。納入された会費はいかなる理由を持っても返却しない。
                </p>
                <p class="c-rules__text-detail">
                    <span>第6項</span>
                    本会顧問及び名誉会員の年会費は免除する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第7項</span>
                    4月1日時点で、満80歳以上の会員については、本人の承諾があれば、次年度より年会費を免除する。申請は申請書を当該年度2月末日までに事務局に提出し、理事会の議を経て承認を得るものとする。
                </p>
                <p class="c-rules__text-detail">
                    <span>第8項</span>
                    会費変更を行うときは理事会において討議し、総会で決定する。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第7条（寄付行為）
            </h2>
            <div class="c-rules__text">
                <p>
                    全国規模の学会、講習会等が広島県内で開催される場合、また大規模の災害などで本会と関連が深い学会あるいは自治体から援助の要請があった場合には、その内容を理事会で討議したうえで賛助金を贈ることができる。寄付行為にあたっては総会の承認を得なければならない。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第8条（会長、監事及び日本小児科医会代議員及び予備代議員選出規定）
            </h2>
            <div class="c-rules__text">
                <p class="c-rules__text-detail">
                    <span>第1項</span>
                    会長及び監事の選出及び一般社団法人日本小児科医会代議員と予備代議員の選出は本会総務委員の中から2名の選挙管理委員によって行う。選挙管理委員は総務委員長が指名する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第2項</span>
                    会長の選出は選挙管理委員会によって任期満了６か月以内に会員に公示して立候補を募る。立候補者（会員の推薦が必要）あるいは被推薦者（推薦者は必ず被推薦者の同意を得ること）が複数の場合は、立候補者ならびに被推薦者を被選挙人として本会会員の投票によって選出する。立候補者あるいは被推薦者がない場合は、理事会において推挙する。選挙当選者あるいは理事会において推挙された者は総会の承認を受けなければならない。会長が長期将来にわたり任務を遂行できないときは２か月以内に選挙により新会長を選出する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第3項</span>
                    監事の選出は選挙管理委員会によって任期満了６か月以内に会員に公示して立候補を募る。立候補者（会員の推薦が必要）あるいは被推薦者（推薦者は必ず被推薦者の同意を得ること）が複数の場合は、立候補者ならびに被推薦者を被選挙人として本会会員の投票によって選出する。立候補者あるいは被推薦者が定数に満たない場合は、理事会において不足定数分を推挙する。選挙当選者あるいは理事会において推挙された者は総会の承認を受けなければならない。監事のうち１名が任務を遂行できなくなったときの欠員は補充しない。監事２名とも任務を遂行できなくなった場合のみ２か月以内に新監事２名を選出する。
                </p>
                <p class="c-rules__text-detail">
                    <span>第4項</span>
                    一般社団法人日本小児科医会代議員及び予備代議員の任期は定款により4月1日より2年、代議員、予備代議員（１名は筆頭予備代議員）ともに、日本小児科医会代議員及び予備代議員選出規程の定めるところに拠る。<br>
                    代議員、予備代議員は日本小児科医会正会員でなければならない。選挙管理委員会は本会から選出する代議員、予備代議員を任期満了６か月以内に公示し、立候補者（推薦者が必要）あるいは被推薦者（推薦者は必ず被推薦者の同意を得なければならない）を募る。<br>
                    選挙権は日本小児科医会正会員のみが有する。立候補者および被推薦者が定数に満たない場合は、理事会に諮り代議員及び予備代議員を選出する。選出された代議員及び予備代議員は定められた期日までに一般社団法人日本小児科医会に報告しなければならない。重任を妨げない。
                </p>
            </div>
        </div>
        <div class="c-rules">
            <h2 class="c-rules__ttl">
                第9条（会則の変更）
            </h2>
            <div class="c-rules__text">
                <p>
                    本会則を変更しようとするときは、理事会の承認と総会の議決を経なければならない。
                </p>
                <p>付則</p>
                <p>
                    1. 会費<br>
                    会費は年会費とし、A会員12,000円、B及びC会員5,000円とする。
                </p>
                <p>
                    2. 慶弔規定<br>
                    1) 会員の死亡に際しては生花一対と弔電および香典を送る。<br>
                    2) 供花代は30,000円前後、香典は10,000円、弔電は3,000円程度を目安とする。<br>
                    3) 元会員（現在非会員）の逝去に際して、理事経験者ならびに会長が本会に特段の功績があったと判断する者については現会員と同様の取り扱いをする。
                </p>
                <p>
                    3. 会員の出張費用に関する規定<br>
                    1) 出張時の交通費はJR正規運賃+特急料金（新幹線を含む）とする。ただし、北海道、東北地方、沖縄県については航空運賃を支給する。<br>
                    2) 出張にともなう日当、宿泊費ならびに食費は支払わない。
                </p>
                <p>
                    4. 会員情報の保護<br>
                    会員の個人情報は、事務局において基本台帳を作成して管理する。情報保護の観点から、会長の許可なくして基本台帳を閲覧することはできない。
                </p>
                <p>
                    5. 会則変更履歴<br>
                    1) 本改正会則は第61回総会（平成23年7月10日）において承認。<br>
                    2) 本会則の一部改訂は第63回総会（平成24年7月1日）において承認。<br>
                    3) 本会則の一部改訂は第64回総会（平成25年1月20日）において承認。<br>
                    4) 第5条第2項は、平成27年4月1日より実施される。ただし、会則変更に伴う特例措置として平成26年7月6日において任期が終了する役員については、その任期を平成27年3月31日まで延長する。<br>
                    5) 本会則の一部改訂は第67回総会（平成26年7月6日）において承認。<br>
                    6)本会則の一部改訂は第68回総会（平成27年1月18日）において承認<br>
                    7)本会則の一部改訂は第74回総会（平成30年1月28日）において承認<br>
                    8)本会則の一部改訂は第77回総会（令和元(2019)年7月21日）において承認<br>
                    9)本会則の一部改訂は第78回総会（令和2年1月12日）において承認
                </p>
                <p>
                    6. 事務局
                    〒732-0057<br/>
                    広島市東区二葉の里3丁目2番3号<br>
                    (一般社団法人）広島県医師会内<br>
                    広島県小児科医会事務局<br>
                    代表 TEL (082) 568-1511 FAX (082) 568-2112<br/>
                    事務局 TEL (082) 261-5428 FAX(082) 221-5424
                </p>
                <p>
                    履歴<br>
                    <span class="c-rules__text-history">
                        <span>平成14年8月</span>
                        <span>平成14年1月</span>
                        <span>平成20年8月</span>
                        <span>平成23年7月</span>
                        <span>平成24年7月</span>
                        <span>平成25年1月</span>
                        <span>平成26年7月</span>
                        <span>平成27年1月</span>
                        <span>平成30年1月</span>
                        <span>令和元年7月</span>
                        <span>令和2年1月</span>
                    </span>
                </p>
            </div>
        </div>
	</section>
</Layout>
