---



---

<footer class="l-footer">
    <div class="l-footer__inner" id="js-footer">
        <div class="c-footer__upper">
            <div class="c-footer__logo-address">
                <div class="c-footer__logo u-font--32">
                    広島県小児科医会
                    <span class="c-footer__logo--eng u-font--16">
                        Hiroshima Pediatric Association
                    </span>
                </div>
                <div class="c-footer__address u-font--20">
                    <address>
                        広島県小児科医会事務局<br>
                        〒732-0057<br>
                        広島市東区二葉の里3丁目2番3号<br>
                        (一般社団法人）広島県医師会内<br>
                    </address>
                </div>
            </div>
            <div class="c-footer__nav-btn">
                <nav class="c-footer__nav">
                    <ul class="c-footer__nav-lists">
                        <li class="c-footer__nav-list">
                            <a href="/">トップ</a>
                        </li>
                        <li class="c-footer__nav-list">
                            <a href="/about">広島県小児科医会について</a>
                        </li>
                        <li class="c-footer__nav-list">
                            <a href="/join">入会案内</a>
                        </li>
                        <li class="c-footer__nav-list">
                            <a href="/news">お知らせ</a>
                        </li>
                        <li class="c-footer__nav-list">
                            <a href="/contact">お問い合わせ</a>
                        </li>
                    </ul>
                </nav>
                <div class="c-footer__btns">
                    <div class="c-footer__btn">
                        <a href="/members">
                            会員ページ<span class="c-footer__btn-arrow"></span>
                        </a>
                    </div>
                    <div class="c-footer__btn">
                        <a href="/contact">
                            会員登録<span class="c-footer__btn-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__lower">
            <div class="c-footer__lower-title">
                関連リンク
            </div>
            <div class="c-footer__link-wrap">
                <ul class="c-footer__links">
                    <li class="c-footer__link">
                        感染症・予防接種関連
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.fukushi.metro.tokyo.lg.jp/documents/d/fukushi/051010guideline" target="_blank">保育所における感染症対策ガイドライン（こども家庭庁）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.mhlw.go.jp/seisakunitsuite/bunya/kenkou_iryou/kenkou/kekkaku-kansenshou/rubella/index.html" target="_blank">風疹について（厚生労働省）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="http://youtube.com/watch?v=IUQZN1J4zI4" target="_blank">風疹の拡大を食い止める（映像）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.mhlw.go.jp/content/10900000/000637649.pdf" target="_blank">遅らせないで！子どもの予防接種と乳幼児健診（厚労省リーフレット）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.pref.hiroshima.lg.jp/site/2019-ncov/" target="_blank">新型コロナウイルス感染症に関する情報</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://news.web.nhk/newsweb/na/na-k10013213651000" target="_blank">子どもの新型コロナ感染対策（NHK, 2021.8.20）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.small-baby.jp/rsvirus/trend.html" target="_blank">RSウイルス全国の流行状況</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.pref.hiroshima.lg.jp/site/hcdc/hidsc-kanzya-zyouhou-tiikibetu.html" target="_blank">県内定点把握感染症の流行状況</a>
                    </li>
                </ul>
                <ul class="c-footer__links">
                    <li class="c-footer__link">
                        救急・安全対策
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.hiroshima.med.or.jp/kenmin/pamphlet/" target="_blank">救急小冊子（広島県医師会）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://alle-net.com/family/allergy/allergy07/" target="_blank">食物アレルギーヒヤリハット事例集</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="/archive/allergy">アレルギー対策委員会</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="/pdfs/SIDS.pdf" target="_blank">SIDSから赤ちゃんを守りましょう</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.mhlw.go.jp/content/11908000/000846941.pdf" target="_blank">SIDS診断の手引き</a>
                    </li>
                </ul>
                <ul class="c-footer__links">
                    <li class="c-footer__link">
                        発達・心のケア
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.pref.hiroshima.lg.jp/soshiki/62/dd-madoguchi00.html" target="_blank">発達障害児・者の相談・支援窓口</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.pref.hiroshima.lg.jp/soshiki/62/1245372748537.html" target="_blank">発達障害啓発パンフレット</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="/archive/kokoro">子どもの心相談医専門医</a>
                    </li>
                </ul>
                <ul class="c-footer__links">
                    <li class="c-footer__link">
                        母子保健・福祉
                    </li>
                    <li class="c-footer__link">
                        <a href="https://www.pref.hiroshima.lg.jp/soshiki/248/ikuseiiryou.html" target="_blank">自立支援医療（育成医療）の申請について（広島県）</a>
                    </li>
                    <li class="c-footer__link">
                        <a href="/archive/breastfeeding">生涯教育シリーズ 母乳保育</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="c-footer__policy u-font--12">
            <a href="/site">サイトポリシー</a>
            <a href="/privacy">プライバシーポリシー</a>
        </div>
        <div class="c-footer__copyright u-font--12">
            <small>&copy;広島県小児科医会 2025</small>
        </div>
    </div>
</footer>

